<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Us </title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <h1>Contact us</h1>
	<p>Here is how you can get in touch with us:</p>
	<ul>
		<li>Phone: 123-456-7890</li>
		<li>Email: abirbelhaj5@gmail.com</li>
		<li>Address: Nabeul, Tunis</li>
  </body>
</html>