<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Our Services</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <p>Here are some of the services we offer:</p>
	<ul>
		<li>Web development</li>
		<li>Mobile app development</li>
		<li>Software development</li>
		<li>UI/UX design</li>
	</ul>
  </body>
</html>
